NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAyEHg7COtoNNZ8VjYm5jqyARGquWOFMLQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ferdinet-az.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ferdinet-az
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ferdinet-az.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=543169501722
NEXT_PUBLIC_FIREBASE_APP_ID=1:543169501722:web:ad251b5663258b6bbd4fa3
